.footer-container {
    background-color: #f9f9f9;
    padding: 30px 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .footer-section {
    flex: 1;
    text-align: center;
  }
  
  .footer-logo img {
    max-width: 100px;
    border: 1px solid var(--pink);
  }
  
  .footer-contact h4,
  .footer-location h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #777;
  }
  
  .footer-contact p,
  .footer-location p {
    font-size: 0.95rem;
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #777;
    justify-content: center;
  }
  
  .footer-socials {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 2rem 0;
  }

  .footer-location-icon{
    cursor: pointer;
  }
  
  .footer-bottom {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    color: #5a4a42;
  }
  
  .powered-by {
    text-decoration: none;
    color: var(--pink);
    border-bottom: 1px solid var(--pink);
  }
  
  @media (max-width: 992px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      text-align: center;
    }
  }